@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.custom_select select{
    width: 100px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-check-input:checked {
    background-color: #93C234 !important;
}

/*  ================================ RESPONSIVE CSS ================== */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {}

/* For mobile */
@media screen and (max-width:600px) {
    
}