@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.custom_select select {
    width: 100px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-check-input:checked {
    background-color: #93C234 !important;
}



.animation_div {
    background: purple;
    transition: 0.2s;

}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background: white !important;
    opacity: 1 !important;

}

.swiper-pagination-bullet-active {
    background-color: #93C234 !important;
}

.swiper-button-next {
    position: absolute;
    top: -30%;
    width: 30px;
    right: 0px;
    height:30px ;
    border: 1pt solid;
    margin-top: 20px;
    z-index: 10;
    cursor: pointer;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    color: red;
}

.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 30px;
    height:30px ;
    border: 1pt solid;
    margin-top: 20px;
    z-index: 10;
    cursor: pointer;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    color: red;
}


/*  ================================ RESPONSIVE CSS ================== */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
    .rightbar{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .rightbar{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width:992px) {
    .resume_image {
        height: 300px;
        object-fit: cover;
        background-position: left
    }

    .resume_section {
        border: 1pt solid;
        height: 300px;
    }

    .image_wrapper {
        margin-bottom: 20px;
    }

    .button_section {
        margin-top: 10rem;
    }

    .recrit_form_img {
        height: 300px;
        object-fit: cover;
    }

    .full_form {
        margin-top: 20px;
    }

    .datepicker {
        width: 454px;
    }

    .left_img img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .page_wrapper {
        margin-top: 0px;
        padding: 20px;
        max-width: 500px;
    }

    .page_wrapper img {
        margin-left: 7rem;
        margin-top: 10px;
    }
}


/* For mobile */
@media screen and (max-width:600px) {

    .joinus_wrapper {
        margin-top: 2rem;
    }

    .banner .joinus_heading {
        font-size: 20px;
    }

    .detail_page {
        margin-top: -60px;
    }

    .joinus_banner {
        height: 300px;
        object-fit: cover;
    }

    .resume_image {
        height: 300px;
        object-fit: cover;
        background-position: left
    }

    .banner h2 {
        font-size: 24px;
    }

    .search_filter {
        border: 0px;
    }

    .custom_select {
        width: 200px
    }


    .apple_images_container {
        text-align: center;
    }

    .appl_image {
        width: 40%;
        object-fit: cover;
    }

    .ssl_images {
        margin-top: 20px;
    }

    .workus {
        padding-top: 5rem;
    }

    .experience {
        text-align: center;

    }

    .experience_container {
        display: flex;
        flex-direction: column;
    }

    .heading_exp {
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .icons {
        margin-right: 10px;
    }

    .image_wrapper {
        margin-bottom: 20px;
    }

    .button_section {
        margin-top: 5rem;
    }

    .datepicker {
        width: 358px;
    }

    .page_wrapper {
        width: 100%;
        max-width: 300px;
    }

    .page_wrapper img {
        margin-left: 5rem;
        margin-top: 30px;
    }

    .row {
        width: 100%;
        padding: 0px;
    }

    .left_img img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    .banner_left {
        order: 2
    }


    .banner_right {
        order: 1
    }

    .banner_right .images img {
        height: 640px;
        object-fit: cover;
    }

    /* user dashboard */

    .top_search_bar{
        width: 100%;
    }

    .top_search_bar .search_bar{
        width: 100%;
        padding-top: 10px;
    }

    .search_bar input{
        width: 100%;
    }

    .apply_job {
        padding: 10px;
        text-align: center;
    }

    .apply_job .sorting {
        display: flex;
        justify-content: center;
    }

}


@media screen and (width:280px) {
    .icons {
        margin-right: 5px;
    }
}